
.down{
  position: relative;
  top: 0.4rem;
}

.bottom{
  position: absolute;
  bottom: 2rem;
}

.webcam{
  z-index: 1000;
}
.absolute-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.pie{
  position: relative;
  bottom: 100px;
}
 .swiper {
  width: 100%;
  padding-bottom: 60px;
} 



.swiper-pagination-bullet {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  color: #ffffff;
  opacity: 1;
  background: #0B6BCB;
  position: relative;
  bottom: 0px;

}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #1F7A1F;
  
}
